.content{
    margin-top: 0px;
    float: left;
  height: auto;
  z-index: 15;
  min-width: 320px;
  width: 70%;
  margin: auto;
  background: white;
  
    
}

.track{
    width: 70%;
    align-content: center;
    
    background-color: red;
    margin-top: 5%;

  
    margin-left: 20%;
    height: 40px;
  
    
}
.banner
{
    
    width: 50%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
.notification{
   float: right;
    width: 15%;
    height: auto;
    border: 3px;
    background: white;
    margin-top: 2.5%;
    margin-right: -10px;
}
.map{
   
    margin-top: 20px;
   width: 100%;
  
    height: 550px;
   
    
}
.people{
   
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color: #d9480f;
    
    
}
.people > img{
    margin-top: -2.5%;
    margin-left: -2%;
    width: 20%;
    height: 150px;
    
}


.name{
    margin-top: -24.5%;
    margin-left: 20%;
    font-size: 17px;
}
.location{
    
    margin-left: 20%;
}
.statsafe{
    margin-top: -5%;
    
    font-size: 17px;
    margin-left: 40%;
    color: green;
}
.safe{
    margin-left: 40%;
    margin-top: auto;
    height: 50px;
    width: 200px;
    background: #58bb47;
    color: white;
}
.danger{
    margin-left: 2%;
    margin-top: -50%;
    height: 50px;
    width: 200px;
    background: red;
    color: white;
}

p{
    color: black;
}
html{
    background-color: white;
}


.grid {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
   
   
  }



.message{
    width: 20%;
    margin-left: 20%;
    height: 40px;
    background-color: green;
    margin-top:5.78%;
}
.call{
    width: 20%;
    margin-left: 1px;
    height: 40px;
    background-color: whitesmoke;
}
.cmodel {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 25%;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
}

/* Modal Content */
.callcontent {
    background-color: #fefefe;
    
    padding: 20px;
    
    width: 80%;
    height: 50%;
    
    margin-top: 20%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.bob{
    height: 80%;
    margin-top: -2.65%;
    margin-left: -3%;
    float: left;
}
.calling{
    
float: right;
margin-right: 77%;
    font-size: 18px;
}
.end{
    
    margin-top: -6%;
    width: 50%;
    float: left;
    background: red;
    margin-left: 18%;
    height: 50px;
   
}
.add{
    font-size: 50px;
    float: right;
    margin-top: 12%;
    margin-right: 60%;
}
.video{
    height: 70px;
    width: 70px;
    margin-right: 1%;
    margin-top: 11%;
    float: right;
   
}
.mic{
    margin-right: 1%;
    margin-top: 14%;
    height: 12%;
    float: right;
    
}

.close {
    display:none;
  }

  @media print, screen and  (max-width: 1024px){
    .bob{
        height: 500px;
        margin-top: -60%;
        margin-left: 29%;
      
    }
    .calling{
        margin-top: 65%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: -6%;
        width: 50%;
        float: left;
        background: red;
        margin-left: 24%;
        height: 80px;
        font-size: 20px;       
    }
    .add{
        font-size: 80px;
        float: right;
        margin-top: 12%;
        margin-right: 40%;
    }
    .video{
        height: 80px;
        width: 80px;
        margin-right: 1%;
        margin-top: 13%;
        float: right;
       
    }
    .mic{
        margin-right: 1%;
        margin-top: 14%;
        height: 60px;
        float: right;
        
    }
    
    
    .content{
        width: 100%;
   
    }
    
    .banner
{
    
    width: 100%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
    .map{
    
        width: 100%;
       
         height: 375px;
         
     }
     .safe{
        margin-left: 0%;
        margin-top: -25%;
        height: 50px;
        width: 150px;
        background: green;
        color: white;
    }
    .danger{
        margin-left: 0%;
        margin-top: -50%;
        height: 50px;
        width: 150px;
        background: red;
        color: white;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 150px;
        
    }
    
    
    .name{
        margin-top: -28.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
    }
    .statsafe{
        margin-top: -9.9%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 10%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }
    .safe{
        margin-left: 40%;
        margin-top: auto;
        height: 50px;
        width: 200px;
        background: #58bb47;
        color: white;
        align-items: center
    }
    .danger{
        margin-left: 2%;
        margin-top: -50%;
        height: 50px;
        width: 200px;
        background: red;
        color: white;
    }
   }
   @media print, screen and (min-width:312px) and (max-width: 320px) {
    .bob{
        height: 250px;
        margin-top: -10%;
        margin-right: 16%;
        float: right;
      
    }
    .calling{
        margin-top: 8%;
    float: right;
    margin-right: 34%;
        font-size: 40px;
    }
    .end{
        
        margin-top: -30%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 6%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
        font-size: 80px;
        float: right;
        margin-top: -9%;
        margin-right: 30%;
    }
    .video{
        height: 80px;
        width: 80px;
        margin-right: 1%;
        margin-top: -7%;
        float: right;
       
    }
    .mic{
        margin-right: 1%;
        margin-top: -5%;
        height: 60px;
        float: right;
        
    }
    
    
    .content{
        width: 100%;
   
    }
    .banner
{
    
    width: 100%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
    .map{
    
        width: 100%;
       
         height: 375px;
         
     }
     .safe{
        margin-left: 0%;
        margin-top: -25%;
        height: 50px;
        width: 150px;
        background: green;
        color: white;
    }
    .danger{
        margin-left: 0%;
        margin-top: -50%;
        height: 50px;
        width: 150px;
        background: red;
        color: white;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 150px;
        
    }
    
    
    .name{
        margin-top: -45.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
    }
    .statsafe{
        margin-top: -9.9%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 10%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }
    .safe{
        margin-left: 40%;
        margin-top: auto;
        height: 50px;
        width: 200px;
        background: #58bb47;
        color: white;
        align-items: center
    }
    .danger{
        margin-left: 2%;
        margin-top: -50%;
        height: 50px;
        width: 200px;
        background: red;
        color: white;
    }
}
 
@media print, screen and (min-width:359px) and (max-width: 360px) {
    .bob{
        height: 200px;
        margin-top: -1%;
        margin-right: 40%;
        float: right;
      
    }
    .calling{
        margin-top:10%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: -12%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 6%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
        font-size: 80px;
        float: right;
        margin-top: 8%;
        margin-right: 30%;
    }
    .video{
        height: 80px;
        width: 80px;
        margin-right: 1%;
        margin-top: 8%;
        float: right;
       
    }
    .mic{
        margin-right: 1%;
        margin-top: 14%;
        height: 60px;
        float: right;
        
    }
    

    .content{
        width: 100%;
   
    }
    .banner
{
    
    width: 100%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
    .map{
    
        width: 100%;
       
         height: 375px;
         
     }
     .safe{
        margin-left: 0%;
        margin-top: -25%;
        height: 50px;
        width: 150px;
        background: green;
        color: white;
    }
    .danger{
        margin-left: 0%;
        margin-top: -50%;
        height: 50px;
        width: 150px;
        background: red;
        color: white;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 150px;
        
    }
    
    
    .name{
        margin-top: -45.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
    }
    .statsafe{
        margin-top: -9.9%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 10%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }
    .safe{
        margin-left: 40%;
        margin-top: auto;
        height: 50px;
        width: 200px;
        background: #58bb47;
        color: white;
        align-items: center
    }
    .danger{
        margin-left: 2%;
        margin-top: -50%;
        height: 50px;
        width: 200px;
        background: red;
        color: white;
    }
}
 
@media print, screen and (min-width:731px) and (max-width: 768px) {
    .bob{
        height: 200px;
        margin-top: 1%;
        margin-right: 40%;
        float: right;
      
    }
    .calling{
        margin-top: 2%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: -12%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 6%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
        font-size: 80px;
        float: right;
        margin-top: 8%;
        margin-right: 16%;
    }
    .video{
        height: 80px;
        width: 80px;
        margin-right: 40%;
        margin-top: -22%;
        float: right;
       
    }
    .mic{
        margin-right: 58%;
        margin-top: -20%;
        height: 60px;
        float: right;
        
    }
    

    
    body input + label {
        top: 12%;
        margin-top: 112%;
      

      }
   
    .name{
        margin-top: -20.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-top: 9%;
        margin-left: 21%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
    .statsafe{
        margin-top: -4.9%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        width: 35%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
        margin-top: 1.78%;
    }
    .call{
        width: 30%;
        margin-left: 1px;
        height: 40px;
        background-color: whitesmoke;
    }
   }
   @media print, screen and (min-width: 411px) and (max-width: 414px) {
    .bob{
        height: 200px;
        margin-top: -1%;
        margin-right: 40%;
        float: right;
      
    }
    .calling{
        margin-top:5%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: -12%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 6%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
        font-size: 80px;
        float: right;
        margin-top: 8%;
        margin-right: 30%;
    }
    .video{
        height: 80px;
        width: 80px;
        margin-right: 1%;
        margin-top: 8%;
        float: right;
       
    }
    .mic{
        margin-right: 1%;
        margin-top: 14%;
        height: 60px;
        float: right;
        
    }

    .content{
        width: 100%;
   
    }
    .banner
{
    
    width: 100%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
    .map{
    
        width: 100%;
       
         height: 375px;
         
     }
     .safe{
        margin-left: 0%;
        margin-top: -25%;
        height: 50px;
        width: 150px;
        background: green;
        color: white;
    }
    .danger{
        margin-left: 0%;
        margin-top: -50%;
        height: 50px;
        width: 150px;
        background: red;
        color: white;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 150px;
        
    }
    
    
    .name{
        margin-top: -39.9%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
    }
    .statsafe{
        margin-top: -11%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 10%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }
   }
   @media print, screen and  (min-width: 1365px) and (max-width: 1366px){
    .bob{
        height: 300px;
        margin-top: -1%;
        margin-right: 40%;
        float: right;
      
    }
    .calling{
        margin-top:0%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: 12%;
        width: 60%;
        float: left;
        background: red;
        margin-left: 28%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
        display: none;
        font-size: 80px;
        float: right;
        margin-top: 1%;
        margin-right: 20%;
    }
    .video{
        height: 80px;
        display: none;
        width: 80px;
        margin-right: -15%;
        margin-top: 18%;
        float: right;
       
    }
    .mic{
        display: none;
        margin-right: 20%;
        margin-top: 5%;
        height: 60px;
        float: right;
        
    }
    .content{
        width: 100%;
   
    }
    nav{
        margin-top: 10%;
    }
    .burger{
        margin-top: 10%
    }
    .banner
{
    
    width: 100%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
    .map{
    
        width: 100%;
       
         height: 375px;
         
     }
     .safe{
         align-content: center;
        margin-left: 40%;
        margin-top: -25%;
        height: 50px;
        width: 150px;
        background: green;
        color: white;
    }
    .danger{
        margin-left: 0%;
        margin-top: -50%;
        height: 50px;
        width: 150px;
        background: red;
        color: white;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 100%;
        
    }
    
    
    .name{
        margin-top: -22.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
        margin-top: 9%;
    }
    .statsafe{
        margin-top: -5.8%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 3%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }
    .notification{
        display: none;
    }
   }
   @media print, screen and (min-width:374px) and (max-width: 375px) {
    .bob{
        height: 200px;
        margin-top: -1%;
        margin-right: 30%;
        float: right;
      
    }
    .calling{
        margin-top:0%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: 12%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 12%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
       
        
        font-size: 80px;
        float: right;
        margin-top: 20%;
        margin-right: 20%;
    }
    .video{
        height: 80px;
        
        width: 80px;
        margin-right: -15%;
        margin-top: 18%;
        float: right;
       
    }
    .mic{
       
        margin-right: 10%;
        margin-top: 20%;
        height: 60px;
        float: right;
        
    }

    .content{
        width: 100%;
   
    }
    .banner
{
    
    width: 100%;
    align-self: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: inset;
    border-color: white
    
}
    .map{
    
        width: 100%;
       
         height: 375px;
         
     }
     .safe{
        margin-left: 40%;
        margin-top: 25%;
        height: 50px;
        width: 50px;
        background: green;
        color: white;
    }
    .danger{
        margin-left: 20%;
        margin-top: 50%;
        height: 50px;
        width: 50px;
        background: red;
        color: white;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 150px;
        
    }
    
    
    .name{
        margin-top: -45.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
    }
    .statsafe{
        margin-top: -9.9%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 10%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }
    .safe{
        margin-left: 40%;
        margin-top: auto;
        height: 50px;
        width: 200px;
        background: #58bb47;
        color: white;
        align-items: center
    }
    .danger{
        margin-left: 2%;
        margin-top: -50%;
        height: 50px;
        width: 200px;
        background: red;
        color: white;
    }
}
body {
    font-family: 'Lato', sans-serif;
}

body h1 > span {
    text-transform: none;
    opacity: .5;
    font-weight: 300;
    font-size: 12px;
  }
  body input + label {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    margin-top: 5%;
    z-index: 5;
  }
  body input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .5s;
    
  }
  body input + label span:first-child {
    top: 3px;
  }
  body input + label span:last-child {
    top: 16px;
  }
  body label:hover {
    cursor: pointer;
    
  }
  body input:checked + label span {
    opacity: 0;
    top: 50%;
    
  }
  body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
    
  }
  body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
    
  }
  body input ~ nav {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    
  }
  body input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    
    right: 20%;
  }
  body input ~ nav > ul > li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
    
  }
  body input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
    
  }
  body input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
    
  }
  body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s;
    
  }
  #burger{
     
      display: none;
  }
  .register{
      float: left;
      width: 40%;
      height: 500px;
      background-color: white;
  }
  .grid1 {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
   
   
  }
  .form1{
      margin-left: 2%;
  }
  input{
      width: 50%;
      height: 25px;
  }
  .create{
      background: #5c54c2;
      height: 30px;
      margin-left: 10%;
  }
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin-left: 1px auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width:20%;
    margin: 0;
    margin-top: 15%;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
      width: 50%;
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
    margin-left: -2px;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
      width: 50%;
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    float: left;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .right{
      width: 30%;
      margin-right: -200px;
      float: right;
  }
  .grid2 {
   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
   
   
  }
  .login
  {   margin-left: 2%;
      width: 50%;
      height: 30px;
      background: #5c54c2;
  }

  .login-box-social-button-google { /* found on foundation website */
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #dd4b39;
    color: #fefefe;
    display: block;
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  @media print, screen and  (min-width: 100px) and (max-width: 1366px){
   
  
    #interface {
        width: 400px;
        height: auto;
        background-color: #3e3e3e;
        margin: 0 auto;
        border: solid #333 6px;
        box-shadow: 0 2px 10px #000;
    }
    .callcontent {
      display:none;
    }
   
    grid1 {
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1px;
        
       
       
      }
    .person{
        margin-top: 2%;
        width: 100%;
        height: 50px;
    }
    .person > img{
       
        width: 20%;
    }
    .person > p{
        float: right;
        margin-right: 12px;
    }
      
    .register{
     display: none;
    
    }
    .right{
        display: block;
        float: left;
        width: 100%;
    }
    input{
     width: 100%;
     height: 25px;
    margin-right: 13px;  
 }
 .login-box-social-button-google,
 .login, 
 .id{
     
     width: 100%;
 }
 .grid1 {
    
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 1px;
    
    
   }
   .file-upload-btn{
     
     display: none;
       
   }
   .create{
       margin-top: 1%;
       width: 100%;
   }
   }
   .alrdaccount{
       width: 100%;
       color: white;
       opacity: 0.9;
       color: #020304;
   }
   @media print, screen and  (min-width: 1400px){
  nav{
           display: none;
       }
       .test{
           display: none;
       }
     
    
   
   }
   .person{
       margin-top: 20%;
       width: 100%;
       height: 50px;
   }
   .person > img{
      
       width: 30%;
   }
   .person > p{
       float: right;
       margin-right: 44px;
   }
   .called{
       margin-right: 2%;
   }
   .ngrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   }
   .msg_box{
	position:fixed;
	bottom:-5px;
	width:250px;
	background:white;
	border-radius:5px 5px 0px 0px;
}

.msg_head{	
	background:black;
    color:white;
    height: 20px;
	padding:8px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_body{
    border-style: solid;
    border-width: 5px;
	background:white;
	height:200px;
	font-size:12px;
	padding:15px;
	overflow:auto;
	overflow-x: hidden;
}
.msg_input{
	width:100%;
	height: 55px;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;  
}

.close{
	float:right;
	cursor:pointer;
}
.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;
	
}

.msg-left{
	position:relative;
	background:#e2e2e2;
	padding:5px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
	word-break: break-all;
}

.msg-right{
	background:#d4e7fa;
	padding:5px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
	word-break: break-all;
}
/**** Slider Layout Popup *********/

 #chat-sidebar {
     width: 250px;
     position: fixed;
     height: 100%;
     right: 0px;
     top: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 1px solid #b2b2b2;
}
 #sidebar-user-box {
     padding: 4px;
     margin-bottom: 4px;
     font-size: 15px;
     font-family: Calibri;
     font-weight:bold;
     cursor:pointer;
}
 #sidebar-user-box:hover {
     background-color:#999999 ;
}
 #sidebar-user-box:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}

 #slider-username{
     float:left;
     line-height:30px;
     margin-left:5px;
}

.mcallcontent {
    width: 100%;
  }
/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
@media print, screen and  (min-width: 665px) and (max-width: 667px){
    .bob{
        height: 200px;
        margin-top: -1%;
        margin-right: 40%;
        float: right;
      
    }
    .calling{
        margin-top:0%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: 12%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 12%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
       
        display: none;
        font-size: 80px;
        float: right;
        margin-top: 1%;
        margin-right: 20%;
    }
    .video{
        height: 80px;
        display: none;
        width: 80px;
        margin-right: -12%;
        margin-top: 2%;
        float: right;
       
    }
    .mic{
        display: none;
       
        margin-right: 10%;
        margin-top: 20%;
        height: 60px;
        float: right;
        
    }


}
@media print, screen and  (min-width: 563px) and (max-width: 667px){
  
    .bob{
        height: 200px;
        margin-top: -1%;
        margin-right: 40%;
        float: right;
      
    }
    .calling{
        margin-top:0%;
    float: right;
    margin-right: 50%;
        font-size: 40px;
    }
    .end{
        
        margin-top: 1%;
        width: 80%;
        float: left;
        background: red;
        margin-left: 12%;
        height: 50px;
        font-size: 20px;       
    }
    .add{
       
        display: none;
        font-size: 80px;
        float: right;
        margin-top: 1%;
        margin-right: 20%;
    }
    .video{
        height: 80px;
        display: none;
        width: 80px;
        margin-right: -12%;
        margin-top: 2%;
        float: right;
       
    }
    .mic{
        display: none;
       
        margin-right: 10%;
        margin-top: 20%;
        height: 60px;
        float: right;
        
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
      .people{
        width: 100%;
        height: 150px;
        background: white;
        border-style: solid;
        border-width: 1px;
        
    }
    .people > img{
        width: 20%;
        height: 150px;
        
    }
    
    
    .name{
        margin-top: -22.8%;
        margin-left: 20%;
        font-size: 17px;
    }
    .location{
        margin-left: 20%;
    }
    .statsafe{
        margin-top: -6.8%;
        font-size: 17px;
        margin-left: 40%;
        color: green;
    }
    .notification{
        display: none;
    }
    .message{
        margin-top: 10%;
        width: 40%;
        margin-left: 20%;
        height: 40px;
        background-color: green;
       
    }
    .call{
        width: 39%;
        margin-left: -1%;
        height: 40px;
        background-color: whitesmoke;
    }

}

#interface {
    width: 400px;
    background-color: #3e3e3e;
    margin: 0 auto;
    border: solid #333 6px;
    box-shadow: 0 2px 10px #000;
}

#chatBox {
    width: 100%;
    height: 500px;
    background-color: #222;
    position: relative;
    overflow-y: scroll;
    padding: 0;
}

#chatText {
    /*position: relative;*/
    bottom: 0;
    left: 0;
    margin: 0;
}

#textField {
    border: solid #444 1px;
    font-family: 'Rockwell', 'Georgia',  sans-serif;
    width: 99%;
    font-size: 1em;
    line-height: 1.5em;
  
}

#send {
    display: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: dodgerblue;
    margin: 0;
    width: 100%;
    line-height: 1.5em;
}

#activity {
      display: block;
    background-color: #222;
    color: #f4f4f4;
    padding: 0.3em;
    height: 1em;
    text-align: center;
}
#isTyping {
    visibility: hidden;
}

.userMessage {
  color: white;
  text-align:left;
    padding: 0.5em;
}

.chatBotMessage {
  color: #ccc;
    text-align: right;
    padding: 0.5em;
}

::-webkit-scrollbar {
  width: 0;
}
  
